{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>News Site CMS</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">
    <script>
        $.ajaxSetup({
            headers: { "X-CSRFToken": "{{ csrf_token }}" }
        });
    </script>

    {% block scripts %}{% endblock %}
</head>

<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
