.draggable-post {
    display: block;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid black;
    cursor: move;
    background-color: #f0f0f0;
}

#published-posts-list {
    border: 1px solid black;
    min-height: 500px; /* adjust as needed */
}


